// *************************************
//
//   Utilities
//   -> Single purpose declarations
//
// *************************************

// -------------------------------------
// Micro utilities
// -------------------------------------

.u-cf {
  @include clearfix;
}

.u-hide {
  display: none;
}

// -------------------------------------
// Layout
// -------------------------------------

.u-layoutBlock {
  display: block;
}

// -------------------------------------
// Grid
// -------------------------------------

.u-gridContainer {
  @include outer-container;
}

.u-gridRow {
  @include row();
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
}

// -------------------------------------
// Text
// -------------------------------------

.u-textCenter {
  text-align: center;
}

.u-textShout {
  text-transform: uppercase;
}

.u-textLead {
  font-size: 125%;
}

// -------------------------------------
// Objects
// -------------------------------------

.u-objLeft {
  float: left;
}

.u-objRight {
  float: right;
}
