// *************************************
//
// Button
// -> All buttons
//
// *************************************

.Button {
  display: inline-block;
  padding: rem(10px) rem(5px);
  &:hover {
    text-decoration: none;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

.Button--default {
  color: $c-white;
  fill: $c-white;
}

.Button--brand {
  color: $c-white;
  fill: $c-white;
  background: $c-blue;
}


.button--offerte {
	color: white;
	font-size: rem(19px);
	background-color: rgba(228,0,0,0.85);
	border-radius: 8px;
	padding: 2px 10px 0 10px;
	
	&:hover {
		background-color: rgba(218,0,0,0.5);
		color: rgba(255,255,255,0.9);
	}	
}

a.txt-highlight {
	color: $c-red;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule