// *************************************
//
// Button
// -> All buttons
//
// *************************************

.Button {
  display: inline-block;
  padding: rem(10px) rem(5px);
  &:hover {
    text-decoration: none;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

.Button--default {
  color: $c-white;
  fill: $c-white;
}

.Button--brand {
  color: $c-white;
  fill: $c-white;
  background: $c-blue;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule