// *************************************
//
// Content
// -> Main site content
//
// *************************************


.Content {
	background-color: white;
	
	.u-gridCol6 {
		padding: 20px;
	}	
}

.Content-entry {
	background-color: white;
	padding: 1px 45px 0;
}