// *************************************
//
// Content
// -> Main site content
//
// *************************************


h2 {
	font-weight: 400;
}

.Content-wrap {
	background-color: white;
	padding: 20px 10px;
}

.Content {
	hr {
		opacity: 0.4;
	}
	
	.u-gridCol8 {
		p {
			font-weight: 300;
		}
		
		h2 {
			font-size: 20px;
			font-weight: 400;
		}
	}	
}
.Content--withSidebar {
	@include span-columns(8);
}

.Content--fullwidth {
	@include span-columns(12);
	margin-top: -20px;
	.Content-entry {
		padding: 35px 40px;
	}
}

.Content-entry {
	background-color: white;

	h2 {
		font-size: 22px;
		font-weight: 400;
	}
	
	p {
		font-weight: 300;
		font-size: 14px;
	}
}

.homepage-images img{
	max-width: 100%;
	width: 170px;
	margin: 14px;
	border-radius: 10px;
	box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}



#map_canvas {
	width: 100%;
	height: 200px;
	border: 1px solid black;
}

.adress-info {
	line-height: 13px;
//	float: left;
	//margin-left: 35px;

	p {
		font-size: 17px;
	}
	
	a {
		color: red;
	}
}

.adress-map {
//	margin: 8px 0px 8px 75px;
}

.hr-style.super-margin {
	margin-top: 30px;
}



p.contact-page-p {
	font-size: 18px;
	font-size: 400;
}

.Projecten-images {
	width: 32%;
	float: left;
	padding: 7px;
	img {
		border-radius: 10px;
	}
	
	&:hover {
		opacity: 0.9;
	}
	
}


.youtube-vid {
	overflow: hidden;
	background-image: url('../img/youtube-vid.jpg');
	background-size: cover;
	background-position: center center;
	margin-top: 20px;
	height: 142px;
	border-radius: 15px;
	p {
		text-align: center;
		color: transparent;
		font-size: 22px;			
		line-height: 0px;
		margin-top: 0px;

		-webkit-transition: all 0.5s ease; 
		-moz-transition: all 0.5s ease; 
		-o-transition: all 0.5s ease; 
	}	
}


.youtube-vid:hover {	
	p,a {
		text-decoration: none;
		color: white;
		background-color: rgba(0,0,0,0.5);			
		line-height: 142px;
	}
}


.youtube-vid.mob {
	display: none;
	height: 200px;
	border-radius: 15px;
	max-width: 300px;
	margin: 20px auto;
	p {
		line-height: 0px;
	}
	
	&:hover {
		p {	
			line-height: 200px;
		}
	}
}




//========== CSS ============

a.page-numbers {
	color: $c-red;
	&:hover {
		background-color: #D8EDF5 !important;
		color: #41316C !important;
	}
}
.ngg-navigation {
	.prev, .next {
		color: $c-red !important;
		&:hover {
			background-color: #D8EDF5 !important;
			color: #41316C !important;
		}
	}
}


body .ngg-albumoverview {   
    width: 165px;
    clear: both;
    display: inline-block !important;
    margin: 11px 2px 2px 2px;
}


.ngg-album {
    border: 2px solid #a81010 !important;
 }

.ngg-description {
    color: #a81010;
}
.ngg-description strong {
    
    color: #a81010;

}

.ngg-description {
    text-align: center;
    font-size: 16px;
    }
.ngg-albumtitle {
    text-align: center;
    }
.ngg-albumtitle  a {
        text-decoration: none !important;
    }
.ngg-thumbnail {
    text-align: center;
    width: 100%;
}

.ngg-gallery-thumbnail img {
    padding: 0px;
    border: 0px;
    margin: 0px 0px 5px 5px; 
}

.slideshowlink {
	display: none;
}

.ngg-hr {
	background-color: grey;
	height: 2px;
	margin-bottom: 40px;
	margin-right: 50px;
}

//=============================


//----------------------------------------
// ------------ form styles --------------

label.gfield_label {
	font-weight: 300 !important;
}

input.gform_button {
	background-color: #D8EDF5;
	border-radius: 10px;
	border: 0px;
	padding: 5px 10px;
	color: #41316C;
	
	&:hover {
		background-color: #41316C;
		color: #D8EDF5;
	}
}

.ginput_container {		
	input, textarea {
		background-color: rgba(252, 254, 255, 1);
		border-radius: 7px;
		border: 2px solid rgba(168, 216, 234, 1);
		color: #41316C;
		font-size: 14px !important;
	}
}
//----------------------------------------

.Slider-slider.bxslider {
	margin-top: 0 !important;
}

.Slider-img.one img {
	background-position: -35px;
}


//===============================================================================
//                                 @media queries
//===============================================================================

@media all and (max-width: 960px) {	
	.adress-info {
		margin-left: 0px;
	}
}


@media all and (max-width: 930px) {	
	.homepage-images img {
		width: 150px;
	}
}

@media all and (max-width: 830px) {	
	.homepage-images {
		text-align: center;

		img {
			width: auto;
			margin: 15px 0;
			max-width: 100%;
		}
	}
	
	.Sidebar {
		h3.widgettitle {
			font-size: 16px;
		}
		a {
			font-size: 14px;
		}
	}
}

@media all and (max-width: 650px) {	
	.Sidebar {
		display: none;
	}
	
	.youtube-vid {
		display: none;
	}
		
	.Projecten-images {
		width: 48%;
	}
		
	.adress.u-gridCol4 {
		@include span-columns(12);
	}

	.adress-map.u-gridCol8 {
		padding-top: 20px;
		@include span-columns(12);
	}

	
	.Content--withSidebar {
		@include span-columns(12);
	}
//-----------------------------------------	
//---------content outside margins---------

	.Content-entry {
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.page-id-27, .page-id-8 {
		.Content-entry {
			margin-left: 0;
			margin-right: 0;
		}
	}
//-----------------------------------------
}




@media all and (max-width: 400px) {	
	.Projecten-images {
		width: 95%;
	}
}