// *************************************
//
// Footer
// -> Main site footer
//
// *************************************

.Footer {
	background-color: $c-blue;
}

.Footer-inner {
	h4, p {
		color: white;
	}
}

.Footer-inner {

}

.Footer-inner .widget {
	@include span-columns(6);
}

.Footer-socket {
	color: white;
}
