// *************************************
//
// Footer
// -> Main site footer
//
// *************************************

.Footer {
	background-color: $c-blue;
	
}

.Footer-inner {
	padding: 0 40px 10px 40px;
	h4 {
		color: $c-red;
		line-height: 5px;
		font-weight: 200;
		margin: 40px 0 25px 0;
		font-size: 22px;
	}
	p {
		color: black;
		line-height: 10px;
		font-weight: 200;
		margin-left: 5px;
		font-size: 15px;
	}
}

.Footer-inner {

}

.Footer-inner .widget {
	@include span-columns(3);
	
}

.Footer-socket {
	color: white;
}

.sub-footer {
	background-color: $c-darkblue;
	p {
		margin: 0px;
		text-align: center;
		color: white;
		font-size: 13px;
		padding: 5px 0;
	}
}

#text-4 {
	h4 {
		opacity: 0;
	}
}

#nav_menu-2 {
	h4 {
		margin-bottom: 20px;
	}	
}