// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background-image: url("../img/img-header-bg.png");
  background-size: cover;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------
// .is-module-states

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  background: rgba($c-black,0.5);
}

