// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background-image: url("../img/img-header-bg.png");
  background-size: cover;
  position: relative;
  z-index: 95;
  background-color: white;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------
// .is-module-states

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-text {
  @extend .u-gridRow;
  position: absolute;
  background: rgba($c-black,0.5);
  height: 60px;
  width: 100%;
  bottom: 8px;
  left: 0;
  
  p {
	  color: white;
	  text-align: center;
	  font-size: rem(19px);

  }
}

