// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
	background-color: white;
	text-align: center;
    margin-top: 75px;
    position: relative;
    z-index: 99;
    box-shadow: 0px 30px 25px -15px rgba(0, 0, 0, 0.5);
    
    background-color: white;
    border-top: 3px solid red;
    border-bottom: 3px solid red;

    
    a {
	    color: black;
    }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------


// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

svg.Icon.Icon--inline {
	font-size: 35px;	
} 

.Navigation ul {
  @include clearfix();
  margin: 0;
}

// ----- List item ----- //

.Navigation-listItem {
  display: inline-block;
  padding: 15px 0px;
  position: relative;
  
  &:focus {
	  text-decoration: none;
  }
  
  a {
	padding: 0 5px 0 30px;
//  display: block;
	&:focus {
	text-decoration: none;
	}	  
  }
}

// ----- Navigation link ----- //

.Navigation-link {
	&:hover {
		//background-color: $c-lightgrey;
		color: $c-red;
	  	text-shadow: 1px 2px 3px rgba(0,0,0,0.25);
	  	text-decoration: none;
	  	font-weight: 400;
	
	}
}

.Navigation-link--invertedBold {
  color: black; 
  font-weight: 400;
}

.Logo {
  position: relative;
  z-index: 100;
  width: 140px;
  padding: 0;

  img {
	  position: absolute;
	  bottom: -60px;
	  left: 0;
  }
}

.Navigation-list {
    display: block;
}

.Navigation-list.is-hidden {
    display: none;
}

ul.Navigation-list {
	position: absolute;
	background-color: #fafafa;
	z-index: 101;
	width: auto;
	top: 54px;
	left: 0;
	border-right: 3px solid $c-red;
	border-left: 3px solid $c-red;
	border-top: 0 solid black;
	border-bottom: 3px solid $c-red;	

	
	.Navigation-listItem {
		padding: 5px 10px;
		a {
			padding: 0;
		}
	}
}

.triangle {
	@include triangle(12px, gray, down);
	display: block;
	float: right;
	margin-top: 10px;
	margin-left: 6px;
	border-width: 4px;
	margin-right: 3px;	
}




a.Navigation-link--dropdownTrigger:hover {
	.triangle {
		@include triangle(12px, black, down);
		border-width: 6px;
		margin-right: 0px;
		margin-left: 5px;
		
	}
}


//===============================================================================
//                                 @media queries
//===============================================================================

@media all and (max-width: 930px) {	
	.Logo img {
		bottom: -50px;
		left: 10px;
		max-width: 85%;
	}
	.Navigation-listItem {
		font-size: 13px;
	}
	
	ul.Navigation-list {
		top: 50px;
	}
	
	a.Navigation-link--dropdownTrigger:hover {
		.triangle {
			margin-left: 6px;
			border-width: 4px;
			margin-right: 3px;				
		}
	}
}


@media all and (max-width: 795px) {	
	.Logo {
		display: none;
	}	
	
	.Logo-mob {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		z-index: 99999999;
		text-align: center;
		padding-top: 20px;
		width: 150px;

		img {
			max-width: 150px;
		}
	}
	.Navigation {
		margin-top: -75px;
	}
	
	.Navigation ul#menu-menu {
		padding-top: 10px;
		position: relative;
		padding-bottom: 10px;
		background-color: #fafafa
	}
	.Navigation-listItem {
		display: block;
		padding: 8px 0 0 0;
		margin: 0px 20px;		

		a {
			padding: 10px 14px;
			display: inline-block;
			background-color: #D8EDF5;
			border-radius: 10px;
			width: 100%;
			font-size: 16px;

		}
	}
	
	ul.Navigation-list {
		position: static;
		display: block;
		background-color: #fafafa;
		width: auto;
		border: 0px solid white;
		padding-top: 5px;
				
		.Navigation-listItem {
			padding: 5px 0;
			
			a {
				background-color: #BDD3DB;
				padding: 10px;
			}
		}
	}
}


@media all and (min-width: 796px) {	
	.Logo-mob {
		display: none;
	}
}

@media all and (max-width: 650px) {	
	.Navigation {
		box-shadow: none;
	}
}


//---------footer not placed sitemap adjustment-----------

/*
#menu-footermenu {
	select {
		background-color: white;
		border: 0px;
		border-radius: 10px;
		padding: 4px 4px 4px 10px;
	}
}
*/