// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
	background-color: white;
	text-align: center;
    margin-top: 75px;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------


// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------


.Navigation ul {
  @include clearfix();
  margin: 0;
  background-color: white;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
}

// ----- List item ----- //

.Navigation-listItem {
  display: inline-block;
//  margin: 0 rem(15px);
  padding: 15px 15px;
  position: relative;
}

// ----- Navigation link ----- //

.Navigation-link {
 // text-transform: uppercase;
}

.Navigation-link--invertedBold {
  color: black; 
  font-weight: 400;
}

.Logo {
  position: relative;
  z-index: 100;
  width: 140px;
  padding: 0;

  img {
	  position: absolute;
	  bottom: -60px;
	  left: 0;
  }
}

ul.dropdown {
    display: block;
//	transition: height 0.2s linear;
}

ul.is-hidden {
    display: none;
}

ul.dropdown {
	position: absolute;
	border: 0px solid #000;
	background-color: #fafafa;
	z-index: 101;
	width: 160px;
	top: 54px;
	left: 0;
	
}

