// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
	background-color: white;
	text-align: center;
    margin-top: 75px;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------


// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------


.Navigation ul {
  @include clearfix();
  margin: 0;
  background-color: white;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
}

// ----- List item ----- //

.Navigation-listItem {
  display: inline-block;
//  margin: 0 rem(15px);
  padding: 15px 15px;

}

// ----- Navigation link ----- //

.Navigation-link {
 // text-transform: uppercase;
}

.Navigation-link--invertedBold {
  color: black; 
  font-weight: 400;
}

.Logo {
  position: relative;
  width: 140px;
  padding: 0;

  img {
	  position: absolute;
	  bottom: -60px;
	  left: 0;
  }
}

