// *************************************
//
// Content
// -> Main site content
//
// *************************************

.Sidebar-wrap {
	@include span-columns(4);
	padding: 10px 25px;
}

.Sidebar {
	background-image: url('../img/background-texture.png');
	background-repeat: repeat; 
	border-radius: 15px;
	//margin: 30px 40px 20px 40px;
	padding-bottom: 10px;
	padding-top: 5px;
	box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.15) inset;
	
	h3 {
		text-align: center;
		color: $c-red;
		font-weight: 400;
		font-size: 20px;
		margin: 8px;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	}
	
	.textwidget {
		margin-left: 25%;
		line-height: 35px;
	}
	p,a {

		color: black;
		font-weight: 200;
		
		&:hover {
			color: $c-red;
			text-decoration: none;
			text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
		}
	}
}


